# Dependencies
node_modules/


# Testing
coverage/

# Next.js
.next/
out/

# Production
build/
dist/

# Environment variables
.env
.env.local

# Local IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Turbo
.turbo/


