@use '../../styles/mixins' as mixins;

.doctorsGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  @include mixins.mobile-first(tablet) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.25rem;
  }

  @include mixins.mobile-first(desktop) {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 1.5rem;
  }
}
